//
// Variables
// --------------------------------------------------


//== Colors
//
//## Gray and brand colors for use across Bootstrap.
/*
$gray-base:              #000 !default;
$gray-darker:            lighten($gray-base, 13.5%) !default; // #222
$gray-dark:              lighten($gray-base, 20%) !default;   // #333
$gray:                   lighten($gray-base, 33.5%) !default; // #555
$gray-light:             lighten($gray-base, 46.7%) !default; // #777
$gray-lighter:           lighten($gray-base, 93.5%) !default; // #eee
*/

$brand-primary:         #e2b6d5; // pink
$brand-success:         #89a575 !default; // green
$brand-info:            #966a89 !default; // purple
$brand-warning:         #e22f2e !default; // red
$brand-danger:          #e22f2e !default; // red


//== Typography
//
//## Font, line-height, and color for body text, headings, and more.

$font-family-sans-serif:  "PT Sans", Helvetica, Arial, sans-serif !default;
$font-family-serif:       Lora, serif !default;
//** Default monospace fonts for `<code>`, `<kbd>`, and `<pre>`.
$font-family-monospace:   Menlo, Monaco, Consolas, "Courier New", monospace !default;
$font-family-base:        $font-family-sans-serif !default;

$font-size-base:          17px !default;
$font-size-large:         ceil(($font-size-base * 1.25)) !default; // ~18px
$font-size-small:         ceil(($font-size-base * 0.85)) !default; // ~12px

$font-size-h1:            floor(($font-size-base * 2.6)) !default; // ~36px
$font-size-h2:            floor(($font-size-base * 2.15)) !default; // ~30px
$font-size-h3:            ceil(($font-size-base * 1.7)) !default; // ~24px
$font-size-h4:            ceil(($font-size-base * 1.25)) !default; // ~18px
$font-size-h5:            $font-size-base !default;
$font-size-h6:            ceil(($font-size-base * 0.85)) !default; // ~12px

//** Unit-less `line-height` for use in components like buttons.
$line-height-base:        1.7 !default; // 20/14
//** Computed "line-height" (`font-size` * `line-height`) for use with `margin`, `padding`, etc.
$line-height-computed:    floor(($font-size-base * $line-height-base)) !default; // ~20px

//** By default, this inherits from the `<body>`.
$headings-font-family:    $font-family-sans-serif !default;
$headings-font-weight:    700 !default;
$headings-line-height:    1.1 !default;
$headings-color:          inherit !default;


// $navbar-height:           50px !default;
// $navbar-padding-vertical: 5px;


// $grid-gutter-width: 100px !default;

$carousel-control-color:                      #e2b6d5 !default;
$carousel-control-width:                      15% !default;
$carousel-control-opacity:                    0 !default;
$carousel-control-font-size:                  20px !default;

$carousel-indicator-active-bg:                #d1e7c5 !default;
$carousel-indicator-border-color:             #89a575 !default;

