/************** Grid and Layout **************/

body { 
 	padding-top: 50px;
}

[class*="col-"] {
	padding-top: 20px;
	padding-bottom: 30px;
}

.main-image {
	width: 100%;
	background-size: cover;
	height: 100vh;
	position: relative;
	margin-top: -50px;
	background-attachment: fixed;
   background-position: bottom;
   text-align: center; 
   padding-top: 15%;
}

div.color-wrapper {
	overflow: hidden;
	position: relative;
	// min-height: 400px;
}

div.half-wrapper-green {
	background: linear-gradient(to right, #89a575 0%, #89a575 50%, #fff 50%, #fff 100%);
}

div.half-wrapper-pink {
	background: linear-gradient(to right, #fff 0%, #fff 50%, #e2b6d5 50%, #e2b6d5 100%);
}

div.half-wrapper-purple {
	background: linear-gradient(to right, #966a89 0%, #966a89 50%, #fff 50%, #fff 100%);
}

div.pink-mobile {
	background-color: none;
}

div.purple-mobile {
	background-color: none;
}

div.green-mobile {
	background-color: none;
}

div.white-mobile {
	background-color: none;
}

.pink {
	background-color: #e2b6d5;
}
.pink a {
	color: #966a89;
}

.purple {
	background-color: #966a89;
}
.purple a {
	color: #492c41;
}

.green {
	background-color: #89a575;
}

.green a {
	color: #455937;
}

.light-green {
	background-color: #D1E7C5;
	color: #474647;
}

.dark-gray {
	background-color: #474647;
}

.white {
	background-color: #fff;
}

img.full-img-right {
	position: absolute;
	width: 50%;
	left: 50%;
	bottom: 0;
	float: right;
}

img.full-img-left {
	position: relative;
	width: 50%;
	left: 0;
	bottom: 0;
	float: left;
}

img.full-img {
	position: relative;
	width: 100%;
	left: 0;
	bottom: 0;
	float: left;
	margin: 0;
	padding: 0;
}

.third-right {
	position: relative;
	width: 75%;
	left: 25%;
	top: 0;
	float: right;
	padding: 0;
}

.icon {
	width: 100%;
}

.icon-small {
	width: 25%;
}

.project {
	margin: 0;
	padding: 0;
}

.flowers {
	position: absolute;
	bottom: 0;
	background: url(about/flowers.svg);
  	background-size: 480px 200px;
	background-repeat: repeat-x;
	min-height: 200px;
	width: 100%;
	opacity: 0.30;
	background-position: center;
}

.contact {
	background-image: url('contact.jpg');
	min-height: 400px;
	background-repeat: none;
	background-position: top;
	background-attachment: fixed;
	background-size: cover;
}
/************** Typography **************/

.inverse {
	color: #fff;
}

a:hover {
	text-decoration: none;
	opacity: 0.5;
}

.center {
	text-align: center;
}

h3 {
	color: #e2b6d5;
}

h4 {
	font-weight: 400;
	line-height: 1.4em;
}

/*************** WORK SECTION ***********/
.work {
	width: 100%;
	margin: 0;
}
.tile {
	box-sizing: border-box;
	margin: 0px;
	border: solid 5px #fff;
	width: 25%;
	background-color: #455937;
	min-height: 300px;
	float: left;
	position: relative;

	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

.overlay {
	height: 100%;
	width: 100%;
	position: absolute;
	left: 0;
	top: 0;
	background-color: rgba(0,0,0,0.8);
	-webkit-transition: background-color 1s ease;
	-moz-transition: background-color 1s ease;
	transition: background-color 1s ease;
}

.work-hover {
	height: 100%;
	width: 100%;
	position: absolute;
	left: 0;
	top: 0;
	background: none;
	z-index: 100;
}

.tile-text {
	position: absolute;
	margin-left: auto;
	margin-right: auto;
	color: #fff;
	text-align: center;
	width: 100%;
	opacity: 1;
	padding: 0 20px;
	z-index: 10;
	float: none;
	display: block;
	margin-left: auto;
	margin-right: auto;
	top: 20%;
}

.tile-text img {
	width: 25%;
}

.work:nth-child(1) {
	border-left: solid 20px #fff;
}

.work button {
	box-sizing: border-box;
	margin: 0px;
	border: solid 10px #fff;
	width: 25%;
	min-height: 100px;
	float: left;
	color: #fff;
	-o-transition:.5s;
	-ms-transition:.5s;
	-moz-transition:.5s;
	-webkit-transition:.5s;
	/* ...and now for the proper property */
	transition:.5s;
	padding: none;
	/* border-bottom: none; // solid 10px #fff;
	border-left: none;
	border-top: none;
	border-right: none; */
	border-radius: 0;
}

.work button:hover {
	background-color: #C9C6C6;
	color: #474647;
	border: solid 10px #fff;
}

.work button.active {
	border: solid 10px #fff;
}

.work button.active:hover {
	border: solid 10px #fff;
}

.work .title {
	box-sizing: border-box;
	margin: 0px;
	border: solid 10px #fff;
	width: 25%;
	min-height: 100px;
	float: left;
	padding: 20px;
	background-color: #fff;
}

.work h3, h4 {
	margin: 0;
}
/********* Bootstrap Elements ***********/
.carousel-control {
	// Hover/focus state
	&:hover,
	&:focus {
		background: none;
	}
}

#carousel-header .item {
	min-height: 400px;
}

#carousel-header .title {
	position: absolute;
	width: 100%;
	color: #fff;
	text-align: center;
	font-size: 3em;
	font-weight: 700;
	top: 25%;
	z-index: 99;
}

.row {
	padding-top: 40px;
	padding-bottom: 30px;
}

.navbar-brand {
	padding-left: 0;
	padding-right: 0;
}

.navbar {
	-o-transition:.5s;
	-ms-transition:.5s;
	-moz-transition:.5s;
	-webkit-transition:.5s;
	/* ...and now for the proper property */
	transition:.5s;
}
#first-nav {
	background: none;
	border: none;
	color: #fff;
	-o-transition:.5s;
	-ms-transition:.5s;
	-moz-transition:.5s;
	-webkit-transition:.5s;
	/* ...and now for the proper property */
	transition:.5s;
}

#first-nav li a, #first-nav p {
	color: #fff;
	background: none;
}

footer {
	background-color: #474647;
	color: white; 
	min-height: 100px;
	padding-top: 20px;
}

img.social {
	width: 40px;
	margin-right: 30px;
}

abbr[title] {
	display: none;
}

.contact h4 {
	margin-bottom: 10px;
}
/************* PROJECT ******************/
.project p {
	font-size: ceil(($font-size-base * 1.7));
}

.project .image {
	text-align: center;
}

/************** MEDIA QUERIES ************/
@media (max-width: $screen-lg-min) {
	.tile {
		width: 33.3%;
	}
	.work button {
		width: 33.3%
	}

	.work button.all-work {
		width: 100%;
	}
}

@media (max-width: $screen-md-min) {
	.tile {
		width: 50%;
	}
	.work button, .work button.all-work {
		width: 50%
	}
}

@media (max-width: $screen-sm-min) {
	body { 
	 	max-width: $screen-sm-min;
	 	overflow-x: hidden;
	}

	.tile {
		width: 100%;
	}
	.work button, .work button.all-work {
		width: 100%
	}
	.contact {
		max-height: 1000px; // fixed image display properly
	}
	.main-image {
		max-height: 1000px; // fixed image display properly
	}
}
