<!-- Header Carousel -->
<div id="carousel-header" class="carousel slide" data-ride="carousel" style="height: 50%; max-height: 500px; overflow: hidden">
  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <div class="container">
        <div class="row" style="min-height: 400px">
          <div class="col-sm-1 hidden-xs">
          </div>
          <div class="col-sm-5">
            <h1 style="color: #89a575">Web Development</h1>
          </div>
        </div>
      </div>
    </div>

    <div class="item">
      <div class="container">
        <div class="row" style="min-height: 400px">
          <div class="col-sm-1 hidden-xs">
          </div>
          <div class="col-md-5">
            <h1 style="color: #e2b6d5">Web Design</h1>
          </div>
        </div>
      </div>
    </div>

    <div class="item">
      <div class="container">
        <div class="row" style="min-height: 400px">
          <div class="col-sm-1 hidden-xs">
          </div>
          <div class="col-md-5">
            <h1 style="color: #966a89">Print Design</h1>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-header" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#carousel-header" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div><!-- Carousel -->

<!-- Web design -->
<div class="half-wrapper-green" style="overflow: hidden">
  <div class="hidden-xs col-sm-1 green">
  </div>
  <div class="col-xs-12 col-sm-5 green inverse">
    <h3>Career</h3>
    <p>Coordinated with Boeing’s Usability Services team to improve UX of internal tools Integrated multiple software packages with enterprise-wide baseline using complex scripts Provided IT customer support for multiple internal teams and international Boeing Partners Documented processes, test plans, and checklists for developing and testing software packages.</p>
    <%= link_to "My Background >" %>
  </div>
  <div class="col-xs-12 col-sm-6" style="padding: 0">
    <%= image_tag "about/karla-and-jacob.jpg", class: "full-img" %>
  </div>
</div>

<!-- Web design -->
<div class="half-wrapper-pink" style="overflow: hidden">
  <div class="col-sm-6" style="padding: 0">
    <%= image_tag "about/karla-jacob.jpg", class: "full-img" %>
  </div>
  <div class="col-xm-12 col-sm-5 pink inverse">
    <h3>Education</h3>
    <p>Coordinated with Boeing’s Usability Services team to improve UX of internal tools Integrated multiple software packages with enterprise-wide baseline using complex scripts Provided IT customer support for multiple internal teams and international Boeing Partners Documented processes, test plans, and checklists for developing and testing software packages.</p>
    <%= link_to "Development Work >" %>
  </div>
  <div class="hidden-xs col-sm-1 pink">
  </div>
</div>
